@font-face {
  font-family: vazir;
  src: url(../assets/fonts/vazir/Vazir.ttf) format("truetype");
  src: url(../assets/fonts/vazir/Vazir.woff) format("woff");
}
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
  border: 0;
  outline: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: vazir;
  background-color: #ddd;
}

.container {
  max-width: 1366px;
  margin: 0 auto;
}

.container {
  max-width: 1366px;
  margin: 0 auto;
  background-color: #fff;
}

header {
  margin-bottom: 20px;
}
header section {
  width: 100%;
  background-color: #fff;
}

.aboutMe {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}
.aboutMe ul {
  display: flex;
  gap: 10px;
}
.aboutMe ul li a {
  padding: 10px 20px;
  color: #000;
  transition: all 0.3s;
  position: relative;
}
.aboutMe ul li a::after {
  content: "";
  width: 0;
  right: 0;
  bottom: 0;
  background-color: #f11818;
  position: absolute;
  padding: 2px 0;
  transition: all 0.3s;
}
.aboutMe ul li a:hover {
  opacity: 0.5;
}
.aboutMe ul li a:hover::after {
  width: 100%;
}

.content {
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  position: relative;
}
.content aside {
  padding: 0 10px;
  height: -moz-max-content;
  height: max-content;
  top: 0;
  display: none;
  position: sticky;
  flex-shrink: 3;
}
.content aside .sites {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.content aside .sites .item a {
  display: inline-block;
  overflow: hidden;
  transition: all 0.3s;
}
.content aside .sites .item a:hover img {
  scale: 1.2;
}
.content aside .sites .item img {
  width: 100%;
  transition: all 0.3s;
}
.content article {
  width: 100%;
  flex-grow: 1;
  padding: 10px;
  text-align: justify;
}
.content article section {
  margin: 40px 0;
}
.content article section a {
  color: #153ef1;
}
.content article section a img {
  width: 100%;
  max-width: 900px;
  min-width: 200px;
}
.content article .title {
  width: 100%;
  background: #18df82;
  text-align: center;
  border-radius: 20px;
}
.content article .welcomeContents {
  text-align: center;
  font-size: 20px;
}
.content article .welcomeContents span {
  font-size: 25px;
}
.content article .v_sImage {
  width: 100%;
  display: flex;
  justify-content: center;
}

footer {
  margin: 30px 0;
}
footer section {
  background-color: #fff;
}
footer section .aboutUs {
  padding: 20px 30px;
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
footer section .aboutUs .contactUs {
  width: -moz-max-content;
  width: max-content;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
footer section .otherSites ul li a {
  color: #000;
  opacity: 0.7;
  transition: all 0.3s;
}
footer section .otherSites ul li a:hover {
  opacity: 1;
}

@media screen and (min-width: 992px) {
  footer section .aboutUs {
    flex-direction: row;
  }
}
@media screen and (min-width: 992px) {
  .content aside {
    display: block;
  }
}/*# sourceMappingURL=main.css.map */